.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-card {
  text-align: center;
  margin-bottom: 2rem;

  .logo {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
  }

  .app-title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
  }

  .partnership {
    font-size: 1rem;
    color: #777;
  }
}

.login-card {
  background: #FAF9F6;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: bold;
}

.form-input {
  max-width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.login-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1rem;

  &:hover {
    background-color: #2980b9;
  }
}

/* Mobile styles */
@media (max-width: 600px) {
  .login-container {
    padding: 1rem;
  }

  .title-card {
    .app-title {
      font-size: 3rem; // Reduce the title size for mobile
    }
    .partnership {
      font-size: 0.9rem;
    }
  }

  .login-card {
    width: 90%; // Use a fluid width instead of fixed 300px
    padding: 1.5rem; // Slightly reduce padding
  }

  .login-title {
    font-size: 1.3rem;
  }

  .form-input {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .login-button {
    padding: 0.65rem;
    font-size: 0.9rem;
  }
}
